// colour palette
$black: #07050d;
$white: #fefeff;

$background: #fbf8f5;
$dark-background: #f1ece7;

$pink: #ecc8cb;
$dark-pink: #e39ba2;

$purple: #d4d2fa;
$dark-purple: #aeaccd;

$orange: #f6e1c4;
$dark-orange: #f1b680;

$green: #c9efdc;
$dark-green: #93bda8;

// Fonts
$pixel-font: "Pixelify Sans", sans-serif;
$basic-font: "Open Sans", sans-serif;